/*
**/.ipynb_checkpoints

!.gitignore
!.gitmodules

!0_common

!20220712_covid19bo_udape
20220712_covid19bo_udape/data/history/

!20220715_incendios
20220715_incendios/data

!20220801_sequias
20220801_sequias/data/
